<div class="p-3 px-lg-5">
    <p class="display-6">
        Book at ease with 
        <span class="fw-bolder">
            HnC
        </span>
    </p>
    <p class="display-6">and experience home and comfort anywhere.</p>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Where are you going?">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Start Date">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="End Date">
        </div>
        <div class="col-md-4 mt-3">
            <button type="button" class="btn btn-primary w-100">Search</button>
        </div>
    </div>
    <hr>
    <p class="display-6 fw-bolder">Homes</p>
    <div class="row justify-content-center">
        <% @rooms.each do |room| %>
            <div class="col-md-4">
                <div class="card mb-4">
                    <%= link_to room do %>
                        <% if room.photos.count > 0 %>
                                <%= image_tag room.photos.first.image, class:"card-img-top", style:"height: 25vh;" %>
                            <% else %>
                                <%= image_tag "no-image.jpg", class:"card-img-top" %>
                        <% end %>
                    <% end %>
                    <div class="card-body">
                        <h5 class="card-title"><%= room.name %></h5>
                        <p class="card-text"><%= truncate(room.summary, length: 100) %></p>
                        <strong><%= room.home_type %></strong> - 
                        <strong><%= room.room_type %></strong> -
                        <strong><%= room.accommodate %> pax</strong>
                        <p class="card-text"><small class="text-muted">Posted on <%= room.created_at.strftime('%b %d, %Y') %></small></p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <p class="display-6 fw-bolder">Cities</p>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card mb-4">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
            </div>
        </div>
    </div>
</div>