<%= form_with(model: @reservation, local: true) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :room_id, value: @room.id %>

    <div class="d-flex">
        <div class="form-group w-50 pe-1">
            <%= f.label :check_in, class:"" %>
            <%= f.text_field :check_in, id:'start_date', readonly: true, placeholder:"Start Date", class:"w-100 form-control"%>
        </div>
        <div class="form-group w-50 ps-1">
            <%= f.label :check_out, class:"" %>
            <%= f.text_field :check_out, id:'end_date', readonly: true, placeholder:"End Date", class:"w-100 form-control" %>
        </div>
    </div>

    <div class="d-flex flex-column d-none" id="summary"> 
        <hr>
        <div class="d-flex justify-content-between">
            <span>Price</span>
            <span id="price">$0</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span>Nights</span>
            <span id="totalNights">0</span>
            <%= f.hidden_field :total_nights, id: "total_nights" %>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span>Total</span>
            <span id="totalPrice">$0</span>
            <%= f.hidden_field :total_price, id: "total_price" %>
        </div>
    </div>        

    <%= f.submit "Book Now", class:"btn btn-primary w-100 mt-5" %>
<% end %>

<script>
    $(function(){
        $("#start_date").datepicker({
            format: "MM dd, yyyy",
            startDate: "today",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true,
            todayBtn: true
        });     
        
        $("#end_date").datepicker({
            format: "MM dd, yyyy",
            startDate: "tomorrow",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true,
            todayBtn: true
        });
        
        $("#start_date").on("change", () => { processSummary() });

        $("#end_date").on("change", () => { processSummary() });

        
        const getNights = () => {
            let startDate = new Date($("#start_date").val());
            let endDate = new Date($("#end_date").val());
            let nights = (endDate - startDate) / (1000 * 60 * 60 * 24);
            return nights;
        }

        const processSummary = (type) => {
            let start_date = $("#start_date").val();
            let end_date = $("#end_date").val();

            if(start_date != "" && end_date != ""){
                $("#summary").removeClass("d-none");
            } else {
                $("#summary").addClass("d-none");
            }

            // get the number of nights
            let nights = getNights();
            $("#totalNights").text(nights);
            $("#total_nights").val(nights);

            // get the price for each night
            let price = $("#pricePerDay").text().replace("$", "");
            $("#price").text("$" + price);

            // get the total price
            let totalPrice = price * nights;
            $("#totalPrice").text("$" + totalPrice);
            $("#total_price").val(totalPrice);
        }
    });
</script>