<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light p-3 px-lg-5">
        <div class="container-fluid p-0">
            <%= link_to "HnC", root_path, class:"navbar-brand m-0 pe-3" %>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse w-100 p-0" id="navbarCollapse">
                <ul class="navbar-nav me-auto ms-0 ms-lg-3">
                    <li class="nav-item">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <%= link_to "Become a Host", new_room_path, class:"nav-link btn btn-primary rounder" %>
                    </li>
                    <% if !user_signed_in? %>
                        <li class="nav-item">
                            <%= link_to "Login", new_user_session_path, class:"nav-link fw-bolder" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Signup", new_user_registration_path, class:"nav-link fw-bolder" %>
                        </li>
                    <% else %>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle fw-bolder" id="navbar-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <%= current_user.name %>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbar-dropdown">
                                <%= link_to "Manage Listing", "", class:"dropdown-item" %>
                                <%= link_to "List Your Space", "", class:"dropdown-item" %>
                                <%= link_to "Your Reservations", "", class:"dropdown-item" %>
                                <%= link_to "Your Trips", "", class:"dropdown-item" %>
                                <div class="dropdown-divider"></div>
                                <%= link_to "Edit Profile", edit_user_registration_path, class:"dropdown-item" %>
                                <%= link_to "Logout", destroy_user_session_path, :method => :delete, class:"dropdown-item" %>
                            </ul>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
</header>


