<div class="row mt-3 mx-2">
    <div class="col-md-4 text-center">
        <div class="card">
            <h5 class="card-header">Profile</h5>
            <div class="card-body">
                <div class="col-4 mx-auto mb-3">
                    <%= render 'shared/profile_image', user: current_user %>
                </div>
                <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-primary w-100" %>
                <%= link_to "Show Profile", current_user, class:"btn btn-secondary w-100 mt-2" %>
            </div>
        </div>
        <div class="my-4">
            <%= link_to "Back", :back, class:"text-decoration-none" %>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <h5 class="card-header">Edit <%= resource_name.to_s.humanize %></h5>
            <div class="card-body">
                <%= render "form" %>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <p class="fw-bolder">Unhappy?</p>
                <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class: "btn btn-danger" %>
            </div>
        </div>
    </div>
</div>

